{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "DrunkenMaster": {
    "Host": "http://*",
    "Port": "5001",
    "UpstreamUrl": "https://example.com",
    "MongoDbUri": "mongodb://user:pass@mongodb",
    "DbName": "drunken-master"
  }
}
