{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Prock": {
    "Host": "http://*",
    "Port": "5001",
    "UpstreamUrl": "https://example.com",
    "MongoDbUri": "mongodb://user:pass@database/?authSource=admin",
    "DbName": "prock-db"
  }
}
